/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */





/* Layout */

body {
    padding: 5rem;
    margin-top: 0rem;
    margin-left: 3rem;
    margin-right: 3rem;
    border-left: 0.00625rem solid black;
    border-right: 0.00625rem solid black;
    
  }
  
  .right-column {
    border-left: 0.0625rem solid black;
    
    padding-left: 1rem; 
    margin-top: 7.1rem;

    flex-basis: 10%; 
    max-width: 15%;
  }
  
  
  .left-column {
    flex-basis: 100%;
    max-width: 100%;
    width: 100%;
  }
  
  .block {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    margin-top: -1.2rem;
  }
  
  .image {
    width: 50%;
    max-width: 5rem;
    height: 100%;
  }
  
  .description {
    margin-top: 1.25rem;
    margin-bottom: 2rem;
  }
  
  div.block {
    border-bottom: 0.0625rem solid black; 
}

  .container-1 {
    width: 100%;
    margin-right: none;
    float: none;
  }

  .container-1 p {
    width: 200%;
    margin: left;
    margin-top: none;
  }

 .container-1 img {
    float: left;
    margin-left: 0rem;
    margin-right: 1rem;
    margin-top: 0rem;    
 }
 
  .content {
    margin-right: none;
  }
 
  img {
    float: left;
    margin-right: 1rem; /* Add some space between the image and the content */
  }

nav {
    border-top: 0.1rem solid black;
    border-bottom: 0.1rem solid black;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: left; /* center the text inside the header */
    margin-left: -5rem;
    margin-right: -5rem;   
  }
  
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 15rem;
  }
  
  nav li:first-child {
    margin-left: 2.5rem;
  }

  nav li:last-child {
    margin-right: 0;
  }

  nav ul li:nth-child(2) a {
    text-decoration: line-through;
  }
  
  li:nth-child(2) a {
    text-decoration: line-through;
    display: inline-block;
    transform: rotate(5deg);
  }
  
  li a {
    text-decoration: none;
    font-weight: bold;
    font-family: calibri;
    color: black;
  }
  
/* Tofu CHARCOAL Unicorns*/
    h1 {
        text-align: center;
        font-size: 4rem;
        margin-left: 0rem;
        font-weight: bold;
        margin-top: -5rem;
       }
/* Chic Narwhal Wastcoat */
    h2 {
        text-align: left;
        font-size: 1.2rem;
        margin-left: 0rem; 
        margin-top: 4rem;
        margin-bottom: 1rem;
        font-weight: bold;
    }
/* Synth post-ironic hell */
    h6 {
      font-weight: bold;
      font-size: 1rem;
      margin-right: 5rem;
    }

    h3 {
        text-align: left;
        font-size: 1rem;
        margin-left: 0rem; 
        font-weight: bold;
        margin-top: 2rem;
        margin-bottom: 1rem;        
    }
   
    .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
      }

    h4 {
        width: 15rem;
        height: auto;
        margin: 0;
        padding: 0;
        font-weight: bold;
            }

    h5 {
        text-align: none;
        font-size: 0.8rem;
        margin: 0rem; 
        font-weight: bold;
           }

.box {
    display: inline-block;
    margin: 1rem;
  }
  
    button {
        background-color: black;
        color: white;
        border-radius: 10px;
        font-size: 1.2rem;
        padding: 0.5rem 1.5rem;
        border: none;
        cursor: pointer;
        margin-bottom: 5rem;
      }
      
      .split-sentence { 
        font-size: 1rem;
      }
      
      .left-side {
        text-align: left;
             }
      
      .right-side {
        text-align: right;
        margin-right: none;
        float: right;
            }
    
      .footer {
font-size: 1rem;
      }